<nav class="navbar bg-light">
  <div class="container">
    <a class="navbar-brand">Readly</a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (ngModelChange)="onSearchBooks($event)" ngModel name="searchBooks">
    </form>
  </div>
</nav>
<hr>
<br>
<div class="container">
  <button
    class="btn btn-success"
    type="button" data-bs-toggle="modal" data-bs-target="#addBookModal"

    data-placement="top" data-original-title="Edit"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
        <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
      </svg>
      Add Book
  </button>

  <div *ngFor="let book of books?.reverse()">
    <br>
    <div class="card mb-3"  id="main-container">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div>
            <!-- <img src="data:image/png;base64,{{book?.cover}}" class="card-img" height="auto" alt="image-{{book.title}}"> -->
            <img src="{{apiPhotoURL}}{{book?.coverPhotoName}}" class="card-img" height="auto" alt="image-{{book.title}}">
          </div>
          <div class="text-center mt-2">
            <div class="btn-group" role="group">
              <button class="btn btn-info"
              type="button" data-bs-toggle="modal" data-bs-target="#updateBookModal"
              (click)="onOpenModal(book, 'edit')" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <button class="btn btn-danger"
              type="button" data-bs-toggle="modal" data-bs-target="#deleteBookModal"
              (click)="onOpenModal(book, 'delete')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{book.title}}</h3>
            <h6 class="card-subtitle text-muted my-2"> {{book.author}} </h6>
            <p class="card-text"> {{book.description}}</p>
            <p class="card-text"><small class="text-muted">First published {{book.publishedDate| date:'mediumDate'}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Add Book Modal -->
<div class="modal fade" id="addBookModal" tabindex="-1" aria-labelledby="addBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Book</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
          <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input ngModel name="title" type="text" class="form-control" id="title" placeholder="Book title">
          </div>

          <div class="mb-2">
            <label for="author" class="form-label">Author</label>
            <input ngModel name="author" type="text" class="form-control" id="author" placeholder="Author name">
          </div>

          <div class="mb-2">
            <label for="genre" class="form-label">Genre</label>
            <input ngModel name="genre" type="text" class="form-control" id="genre" placeholder="Book genre">
          </div>

          <div class="mb-2">
            <label for="isbn" class="form-label">ISBN</label>
            <input ngModel name="isbn" type="text" class="form-control" id="isbn" placeholder="Book ISBN No.">
          </div>

          <div class="mb-2">
            <label for="rating" class="form-label">Rating</label>
            <input ngModel name="rating" type="text" class="form-control" id="rating" placeholder="Book rating">
          </div>

          <div class="mb-2">
            <label for="pages" class="form-label">Page</label>
            <input ngModel name="pages" type="text" class="form-control" id="pages" placeholder="Total number of pages">
          </div>

          <div class="mb-2">
            <label for="language" class="form-label">Language</label>
            <input ngModel name="language" type="text" class="form-control" id="language" placeholder="Language">
          </div>

          <div class="mb-2">
            <label for="publishedDate" class="form-label">Published Date</label>
            <div class="input-group">
              <input
                ngModel
                name="publishedDate"
                class="form-control"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
              </button>
            </div>
          </div>

          <div class="mb-2">
            <label for="cover" class="form-label">Cover photo</label>
            <input ngModel name="cover" (change)="onChange($event)" type="file" class="form-control" id="cover">
          </div>

          <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea ngModel name="description" class="form-control" id="description" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" id="add-book-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Update Book Modal -->
<div class="modal fade" id="updateBookModal" tabindex="-1"
aria-labelledby="updateBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateBookModalLabel">Edit Book</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <input type="hidden" ngModel="{{editBooks?.id}}" name="id" class="form-control" id="title">

          <div class="mb-2">
            <label for="title" class="form-label">Title</label>
            <input ngModel="{{editBooks?.title}}" name="title" type="text" class="form-control" id="title" placeholder="Book title">
          </div>

          <div class="mb-2">
            <label for="author" class="form-label">Author</label>
            <input ngModel="{{editBooks?.author}}" name="author" type="text" class="form-control" id="author" placeholder="Author name">
          </div>

          <div class="mb-2">
            <label for="genre" class="form-label">Genre</label>
            <input ngModel="{{editBooks?.genre}}" name="genre" type="text" class="form-control" id="genre" placeholder="Book genre">
          </div>

          <div class="mb-2">
            <label for="isbn" class="form-label">ISBN</label>
            <input ngModel="{{editBooks?.isbn}}" name="isbn" type="text" class="form-control" id="isbn" placeholder="Book ISBN No.">
          </div>

          <div class="mb-2">
            <label for="rating" class="form-label">Rating</label>
            <input ngModel="{{editBooks?.rating}}" name="rating" type="text" class="form-control" id="rating" placeholder="Book rating">
          </div>

          <div class="mb-2">
            <label for="pages" class="form-label">Page</label>
            <input ngModel="{{editBooks?.pages}}" name="pages" type="text" class="form-control" id="pages" placeholder="Total number of pages">
          </div>

          <div class="mb-2">
            <label for="language" class="form-label">Language</label>
            <input ngModel="{{editBooks?.language}}" name="language" type="text" class="form-control" id="language" placeholder="Total number of pages">
          </div>

          <div class="mb-2">
            <label for="editedPublishedDate" class="form-label">Published Date</label>
            <div class="input-group">
              <!-- <input
                ngModel="{{editBooks?.publishedDate | date:'mediumDate'}}"
                name="editedPublishedDate"
                class="form-control"
                id="editedPublishedDate"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #d2="ngbDatepicker"
              /> -->
              <input
                ngModel = ""
                [value] = "editedPubDate"
                name="publishedDate"
                class="form-control"
                id="publishedDate"
                placeholder="yyyy-mm-dd"
                ngbDatepicker
                #d2="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
              </button>
            </div>
          </div>

          <div class="mb-2">
            <label for="cover" class="form-label">Cover photo</label>
            <input ngModel="{{editBooks?.cover}}" name="cover" (change)="onChange($event)" type="file" class="form-control" id="cover">
          </div>

          <div class="mb-2">
            <label for="description" class="form-label">Description</label>
            <textarea ngModel="{{editBooks?.description}}" name="description" class="form-control" id="description" rows="3"></textarea>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onUpdateBook(editForm.value)">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Delete Book Modal -->
<div class="modal fade" id="deleteBookModal" tabindex="-1" aria-labelledby="deleteBookModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Book</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
      </div>
      <div class="modal-body">
        <p>Are you sure, want to delete this <strong>{{deleteBooks?.title}}</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="onDeleteBooks(deleteBooks.id)" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>
